
.product-container {
    width: 90%;
    height: auto;
    margin-top: 40px;
}

 .product-flex {
    width: 1275px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

.product-flex:first-child {
    padding-left: 0px;

}
