
.product-container {
    width: 90%;
    height: auto;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

 .product-flex {
    width: 1275px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

.product-flex:first-child {
    padding-left: 0px;

}


@media only screen and (max-width: 500px){

    .product-flex {
        padding-left: 0px;
        justify-content: center;
    }

    .product-flex:first-child {
        padding-left: 0px;

    }
}

@media only screen and (max-width: 800px) {
    .product-container{
        margin-top: 10px;
        width: 100%;
        justify-content: start;
        align-items: start;
    }

     .product-flex{
         height: auto;
         justify-content: space-between;
         align-items: flex-end;
     }
}